* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.container-main {
    border: 2px solid black;
    width: 80%;
    height: 70%;
    padding: 40px;
    margin: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.container-main .puppet {
    border: 2px solid red;
    width: 30%;
    height: 30%;
    max-height: 60%;
    margin-bottom: 15px;
}
