main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.btn-hero:hover {
    background: black !important;
    color: #ffffff !important;
    border-color: #4fb84f !important;
}

